[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinydb = "*"
flask-login = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
